.grid-container {
  grid-template-columns:
    auto auto
    auto auto
    auto auto;

  grid-template-rows: auto;

  padding: 5px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  font-size: 35px;
  text-align: center;
  border-style: solid;
  align-items: center;
  font-family: Arial;
  font-weight: 700;
  border-style: dotted;
}

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 7px;
  touch-action: none;
}

.dragItem {
  width: 60px;
  height: 60px;
  align-items: center;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 20px;
  text-align: center;
  touch-action: none;
  user-select: none;
}

.emptyCell {
  background-color: rgba(136, 136, 136, 0.5);
}

.grid-item_grey {
  background-color: #c8c8c8;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-style: dotted;
  align-items: center;
}

#resetBtn {
  float: right;
  width: 50%;
}

#item:active {
  background-color: rgba(168, 218, 220, 1);
}

#item:hover {
  cursor: grab;
}
